/* *****************************************************************************
	ADDRESS-BOOK
****************************************************************************** */

.project header * {
    margin-top : 0;
    margin-bottom: 0;
}

.project-header {
    text-align: center;
    color : #fff;
}

.project-header {
    text-align: center;
    color : #fff;
    margin: 35px 0 0;
}

.project-section {
	padding-top : 3em;
	padding-bottom : 3em;
}

@media screen and (min-width : 834px) {
  .project-section {
  	display : flex;
  	align-items : start;
  	padding-top : 3em;
  	padding-bottom : 3em;
  }

  .project-section > * {
  	flex : 1;
    margin : 0 1em;
  }
}

.address-book li {
    list-style: none;
    margin : 1rem 0;
    background : var(--bg-dark);
    border : 2px solid var(--bg-light);
    border-radius : 0.5rem;
    font-weight: bolder;
}

.address-book li a {
    display : block;
    padding : 1rem;
}


.address-book p {
    color :#9e1e2d;
    font-weight: 600;
    font-size: 1.2em;
}

.address-book li:hover,
.address-book li.is-current  {
    background : var(--bg-accent);
    border-color : var(--color-bg-dark);
}

.address-book .is-current a {
    transform : scale(1.2);
    transform-origin : left;
    text-decoration: none;
}
